---
layout: default
---

<div class="main-post-list hidden">

  <ol class="post-list">
    {% for post in paginator.posts %}
    <li>
      <h2 class="post-list__post-title post-title"><a href="{{ post.url }}" title="访问 {{ post.title }}">{{ post.title }}</a></h2>
      <p class="excerpt">{{ post.content | strip_html | strip_newlines | truncate: 250 }}&hellip;</p>
      <div class="post-list__meta">        
        <time datetime="{{post.date | date: date_to_xmlschema}}" class="post-list__meta--date date">
          <img src="/images/calendar.png" width="20px" /> 
          {{ post.date | date: "%F"}}</time> 
        <div class = "tag-img-icon">
          <img src="/images/tag-icon.svg" width="20px" /> 
        </div>
        <a href="/tags">
          <div class = "post-list-icon-mate">
            <span class="post-list__meta--tags-right">{{ post.tags }}</span>
          </div>
          <div class = "post-list-small-mate">
          <a class="btn-border-small" href={{ post.url }}>阅读全文 » </a>
          </div>
      </div>
      <hr class="post-list__divider" />
    </li>
    {% endfor %}
  </ol>

  {% include pagination.html %}
<div style="width:300px;margin:0 auto; padding:20px 0;">
  <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=42011102002567" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="/images/beian.png" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">鄂公网安备 42011102002567号</p></a>
</div>

</div>

