---
layout: default
---

<article class="post-container post-container--single" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 align="center" class="post-title">{{ page.title }}</h1>
    <div align="center" class="post-meta">
      <img src="/images/calendar.png" width="20px"/> 
      <time datetime="{{page.date | date: date_to_xmlschema}}" itemprop="datePublished" class="post-meta__date date">{{page.date | date: "%F"}}</time>  
         <span >本文总字数:{{ page.content | strip_html | strip_newlines | remove: " " | size }}字 | </span>
         <span >阅读完需要约{{ page.content | strip_html | strip_newlines | remove: " " | size | divided_by: 350 | plus: 1 }}分钟</span>
         
      <span id="busuanzi_container_page_pv"style='display:none'> | 本文已阅读：<span id="busuanzi_value_page_pv"></span>次</span>
    </p>
    </div>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-2568402275316918",
    enable_page_level_ads: true
  });
</script>

  </header>

  <section class="post">
    <div align="center"> 
    <!-- 在正文开头添加网易云音乐插件 -->
  {% if page.music-id %}
    {% include cloud-music.html %}
  {% endif %} 
    </div>
 
  
    {{ content }}

  </section>
</article>

{% include new-old.html %}
{% include comments.html %}
